.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: smaller;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
  font-weight: 700;
}

.swiper-pagination {
  bottom: -30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
}

:root {
  --swiper-pagination-bottom: 30px; /* Adjust this value to increase/decrease the space */
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 50px;
  border-radius: 50%;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .swiper-pagination {
    bottom: -20px;
  }

  :root {
    --swiper-pagination-bottom: 20px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 20px;
  }
}
