@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
  /* -webkit-animation: slide 20s linear infinite; */
  display: flex;
  will-change: transform;
  animation-delay: -10s;
  -webkit-animation-delay: -10s;
  -webkit-animation-name: slide;
  animation-name: slide;
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-slide {
    animation-play-state: paused;
  }
}
